@import '../../../Sass/variables';

.blogs {
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: 2rem 0;
  font-size: 2rem;
  grid-gap: 2rem;

  @media only screen and (min-width: $bp-md) {
    grid-template-columns: minmax(25rem, 30rem) 1fr;
    grid-gap: 7rem;
  }
}
