@import '../../Sass/variables';

.pageBtns {
  text-align: center;
  margin: 6rem 0 3rem;
}
.btn {
  padding: 1rem;
  margin: 0 0.2rem;
  font-size: 1.8rem;
}

.btnInfo {
  background-color: $royalred;
  color: #fff;
}

.isActive {
  background-color: $royalred;
  color: #fff;
}
