@import '../../Sass/variables';

.modal {
  text-align: end;

  .modal__btn {
    margin: 2rem 4rem 0;
    font-size: 2.5rem;

    &:hover {
      background-color: $royalred;
      color: #fff;
    }
  }
}
