@import '../../Sass/variables';

.productcart {
  display: grid;
  grid-template-columns: minmax(max-content, 20rem) minmax(15rem, 18rem);
  grid-template-rows: repeat(2, 15rem);
  align-content: flex-end;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  padding-right: 1rem;
  justify-content: end;

  // @media only screen and (max-width: $bp-md) {
  //   grid-template-columns: minmax(10rem, 18rem) 1fr;
  //   grid-template-rows: repeat(2, 10rem);
  // }

  @media only screen and (max-width: $bp-xs) {
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 15rem;
    width: 100%;
  }

  .img__holder {
    max-height: 10rem;

    @media only screen and (max-width: $bp-xs) {
      grid-row: 1 / 2;
      align-self: flex-start;
      text-align: center;
    }

    img {
      object-fit: cover;
      width: 18rem;
      height: 18rem;
    }
  }
}

.product__detail {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  font-weight: bold;

  @media only screen and (max-width: $bp-xs) {
    // align-self: start;
    // grid-column: 2 / -1;
    grid-row: 2 / -1;
  }

  span {
    padding: 0 0 1rem;
  }
}

.product__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
