@import '../../Sass/variables';

.productcart {
  display: grid;
  grid-template-columns: minmax(max-content, 20rem) minmax(15rem, 18rem);
  grid-template-rows: repeat(2, 7rem);
  align-content: flex-end;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  justify-content: end;
  border: 1px solid #eee;

  @media only screen and (max-width: $bp-xs) {
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 8rem;
    width: 100%;
    grid-gap: 1rem;
    justify-content: center;
  }

  .img__holder {
    max-height: 10rem;

    @media only screen and (max-width: $bp-xs) {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      align-self: flex-start;
      text-align: center;
    }

    img {
      object-fit: cover;
      width: 18rem;
      height: 18rem;

      @media only screen and (max-width: $bp-xs) {
        min-width: 33rem;
      }
    }
  }
}

.changeInput {
  border: none;
  // border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
  box-shadow: 3px 5px 0.3rem rgba($color: #292929, $alpha: 0.1);

  input {
    background-color: transparent;
  }
}
.product__detail {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
  font-weight: bold;

  @media only screen and (max-width: $bp-xs) {
    // align-self: start;
    // grid-column: 2 / -1;
    // grid-row: 2 / -1;
  }

  span {
    padding: 0 0 1rem;
  }
}

.product__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
