/* break points */
$bp-xs: 25em; /* 400px */
$bp-sm: 37.5em; /* 600px */
$bp-md: 48em; /* 768px */
$bp-lg: 62em; /* 992px */
$bp-xl: 75em; /* 1200px */

/* colors */

$red: #ef3939;
$royalred: #ff5252;
$royalBlue: #5073db;
$blue-light: #706fd3;
$light-green: #33d9b2;
$dark-purple: #2c2c54;
$dark-color: #383838;
$dark-second: #515252;
$light-gray: #c9c9c9;
$light-gray-2: #878f99;
$yellow-color: #feb236;
