@import '../../../Sass/variables';

.blog {
  text-align: justify;
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-rows: 25rem 1fr;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.3rem rgba($color: #000000, $alpha: 0.3);
  overflow: hidden;
  padding-bottom: 2rem;

  footer {
    text-align: right;
  }

  &__btn {
    text-transform: uppercase;
    background-color: $blue-light;
    color: #fff !important;
    padding: 1rem 2.5rem;

    @media only screen and (max-width: $bp-sm) {
      width: 100%;
      display: block;
    }

    &:hover {
      background-color: $royalred;
    }
  }

  header {
    font-family: 'Roboto';
    font-size: 1.5rem;
    text-align: center;

    .title {
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        color: $blue-light;
      }
    }
  }

  header,
  article,
  footer {
    padding: 1rem 3rem;
  }

  footer {
    text-align: center;

    @media only screen and (min-width: $bp-sm) {
      text-align: end;
    }
  }
}

.figureImg {
  width: 100%;
  
  img {
    object-fit: cover;
    height: 100%;
  }
}

.meta--time {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: $dark-purple;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;

  .date {
    margin-bottom: 2rem;
  }

  .year {
  }
}
