@import '../../Sass/variables';

.order {
  background-color: #fff;
  padding: 1.5rem 0.5rem;
  grid-column: 1 / -1;
  font-size: 1.5rem;

  display: grid;
  grid-gap: 1rem;

  @media only screen and (min-width: $bp-md) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__btn {
    box-shadow: none;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
    background-color: $royalred;

    &:hover {
      background-color: $red;
    }
  }
}

.yourOrder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: bold;
  font-size: 2.5rem;

  margin: 2rem 0;

  .title {
    background-color: #eee;
    padding: 1rem;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    grid-column: 1 / -1;
  }

  .productPrice {
    justify-self: end;
    padding: 1rem;
  }

  .productTitle {
    padding: 1rem;
  }
}

.totalOrder {
  margin: 1rem 0;
  // background-color: #eee;
  border: 1px solid #ccc;
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  .price {
    font-size: 2rem;
    color: $royalred;
  }
}
