@import '../../Sass/variables';

.productitem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 5rem);
  grid-gap: 1rem;
  background-color: #fff;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 0.6rem rgba($color: #000000, $alpha: 0.1);
  transition: all 0.2s ease-out;

  &:hover {
    transform: translateY(-1rem);
  }

  &:hover > &__img::after {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:hover &__icons {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }

  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / 5;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
      height: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--title {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    font-size: 2.5rem;
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    line-height: 2;
    border-radius: 1rem;

    &:hover {
      transform: scale(1.1);
      color: $royalBlue;
    }
  }

  &--desc {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    font-size: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1rem 2rem;
  }

  &__icons {
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 110;
    font-size: 5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in;
    transform: translateY(5rem);

    svg {
      display: inline-block;
      margin: 0 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .price {
    font-size: 4rem;
    color: $royalBlue;
    font-weight: bold;
    grid-row: 7 /8;
    grid-column: 1 / -1;
    font-family: 'Roboto', sans-serif;
  }

  .addbtn {
    grid-column: 1 / -1;
    grid-row: 8 / 9;
    width: 80%;
    margin: 0 auto;
    transform: translateY(-1rem);

    transition: all 0.2s;
    background-color: $royalBlue;
    color: #fff;
    box-shadow: none;
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      color: #fff;
      background-color: $royalred;
    }

    .btnText {
      margin: 0 1rem;
    }
  }
}

.inputChangeItem {
  grid-column: 1 / -1;
  width: 30% !important;
  border: none !important;
  box-shadow: 0 3px 0.3rem rgba($color: #000000, $alpha: 0.2);

  input {
    font-size: 2.5rem;
    text-align: center;
  }
}

// .bookmark {
//   position: absolute;
//   right: 4px;
//   top: 2px;
//   z-index: 200;
//   color: #fff;
//   cursor: pointer;
//   transition: all 0.3s;
//   font-size: 5rem;

//   &:hover {
//     color: #ccc;
//   }
// }
// .isBookmarked,
// .isBookmarked:hover {
//   color: $light-green;
// }
