@import '../../Sass/variables';

.gridlist {
  padding: 1rem;

  grid-column: 2 / -1;

  @media only screen and(max-width: $bp-md) {
    grid-column: 1 / -1;
  }
}

.producSection {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: minmax(15rem, 25rem) 1fr;
}

.pagination {
  grid-column: 1 / -1;
}
