@import '../../../Sass/variables';

.footerlists {
  grid-template-columns: 1fr;

  @media only screen and (min-width: $bp-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.title {
  margin: 3rem 0;
  font-size: 2.5rem;
}

.List--item {
  padding: 1rem 0;
  margin: 0.5rem 3rem;

  &:hover > a {
    transform: translateX(1rem);

    &::before {
      width: 2.5rem;
      left: -40px;
    }
  }

  a {
    display: block;
    position: relative;
    transition: all 0.2s ease-out;

    &::before {
      transition: all 0.2s ease-out;
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      width: 1.5rem;
      height: 3px;
      background-color: $light-gray-2;
    }
  }
}
