@import '../../Sass/variables';

.container-grid {
  display: grid;
  margin: 0 auto;
  max-width: 90%;

  // @media only screen and(min-width: $bp-md) {
  //   max-width: 1000px;
  // }

  @media only screen and(min-width: $bp-xl) {
    max-width: 1200px;
  }
}
