@import '../../Sass/variables';

.number__procut {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  border: 1px solid #ccc;
  color: $royalred;
  border-radius: 1rem;
  align-items: center;
  width: 70%;
  padding: 2rem 1rem;
  margin: 1rem auto 0;

  .decrease,
  .increase {
    transition: all 0.1s;
    cursor: pointer;
    display: inline-block;
    font-size: 4rem;

    &:hover {
      transform: scale(1.3);
    }
  }

  input[type='number'] {
    text-align: center;
    display: inline-block;
    width: 60%;
    background-color: transparent;

    &::placeholder {
      color: #000;
    }
  }
}

.trash {
  cursor: pointer;
}
