@import '../../Sass/variables';

.number__procut {
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  border: 1px solid;
  align-items: center;

  @media only screen and (max-width: $bp-md) {
    grid-column: 2 / -1;
    grid-row: 2 / 3;

    width: 60%;
  }

  .decrease,
  .increase {
    transition: all 0.1s;
    cursor: pointer;
    display: inline-block;

    &:hover {
      transform: scale(1.3);
    }
  }

  input[type='number'] {
    text-align: center;
    display: inline-block;
    width: 60%;
  }
}
